graft src
graft tests
graft docs

include README.rst
include CHANGES.rst
include LICENSE.txt

include .coveragerc
include tox.ini .travis.yml appveyor.yml rtd.txt

recursive-exclude * __pycache__ *.py[cod]
prune docs/_build
